ase
blinker
Brotli
certifi
cffi
charset-normalizer
click
contourpy
cycler
filelock
Flask
fonttools
fsspec
gmpy2
gunicorn==23.0.0
h2
hpack==4.0.0
hyperframe
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
joblib
kiwisolver
lark-parser
MarkupSafe
matplotlib
mpmath
munkres==1.1.4

