AmberLite==16.0
AmberTools==20.15
ase @ file:///home/conda/feedstock_root/build_artifacts/ase_1717201223653/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1666788492850/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606236244951/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633754816/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1680712552892/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1720359055307/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1729608855534/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1715527348820/work
gunicorn==23.0.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805801984/work
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1725742324642/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706899999219/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1678135672482/work
MMPBSA.py==16.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1675642663324/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
packmol-memgen==1.1.0rc0
pandas==2.0.0
ParmEd @ file:///Users/runner/miniforge3/conda-bld/parmed_1673981998240/work
pdb4amber==1.7.dev0
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1630696729270/work
pkaani==0.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyMSMT==20.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytraj==2.0.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
sander==16.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464282062/work
scipy==1.10.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529700862/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1715184471577/work/torch-2.1.2.post104-cp38-cp38-macosx_10_13_x86_64.whl#sha256=c5557304c3c4dcf7e5fa98d0cdab6c1fea65640dc282e9669de0e2541fa0710d
torchani @ file:///home/conda/feedstock_root/build_artifacts/torchani_1596639654081/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695847974287/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1729884156362/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zstandard==0.23.0
